* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

input[type="color"] {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

button {
	padding: 10px;
    text-transform: uppercase;
	cursor: pointer;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -48%);
}

.grid {
	width: 800px;
	height: 800px;
	display: grid;
}

.grid-cell {
	background-color: seagreen;
	border: 1px solid black;
}
